.signup-container {
    font-family: 'Roboto', sans-serif,
    monospace;
    display: grid;
    align-content: center;
    justify-items: center;
    height: 700px;
    background: linear-gradient(to bottom, #f5f4f4, #fcfcfc);
}

.test-container {
    font-family: 'Roboto', sans-serif,
    monospace;
    display: grid;
    align-items: center;
    justify-items: center;
}

.form-title {
    color: #2b2a2a;
    background: linear-gradient(to bottom, #2b2b2b, #5d5b5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.form-card {
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(to bottom, #eceaea,#e6e4e4);
}
  
.form-group {
   padding: 13px;
   display: grid;
   align-items: center;
   justify-items: left;
}
  
label {
    display: block;
    margin-bottom: 10px;
    color: #737272;
}

.form-control {
    width: 90%;
    padding: 8px;
    border: 1px solid #939191;
    border-radius: 3px;
}

@media (max-width: 600px) {
    .form {
        max-width: 100%;
        padding: 10px;
    }
}