h1 {
  background: linear-gradient(to bottom, #333333, #636363);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px;
  font-size: 30px;
}

p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #4f4d4f;
}

.container {
  margin: 0 auto;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  background: linear-gradient(to bottom, #f9f8f8, #e2e1e1);
}