.header_container {
  top: 0;
  left: 0;
  right: 0;
  height: 70%;
  margin: 0;
  background: linear-gradient(to bottom, #cab8c9, #d4d4d4);
  border-bottom: 2px solid #e1e0e0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  h1 {
    background: linear-gradient(to bottom, #212020, #9e249a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding: 12px 24px;
    font-size: 28px;
  }
}