.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dededecc;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(45deg, #e7e6e7, #fafafa);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-menu li {
    margin-right: 10px;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  