* {
  font-family: 'Roboto', sans-serif;
}

.view {
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  background: linear-gradient(to bottom, #e8e8e8, #edeced);
  height: 480px;
  width: 100%;
  margin-top: 2px;
}

.card {
  background: linear-gradient(to bottom, #dbdbdb,#dbdbdb);
  border-radius: 20px;
  padding: 35px;
}