.signup-container {
    font-family: 'Roboto', sans-serif,
    monospace;
    display: grid;
    align-content: center;
    justify-items: center;
    color:rgb(132, 131, 131)
}
  
.form-group {
   background-color: #f8f8f8;
   padding: 13px;
   display: grid;
   align-items: center;
   justify-items: left;
}
  
label {
    display: block;
    margin-bottom: 10px;
    color: #737272;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #939191;
    border-radius: 3px;
}

@media (max-width: 600px) {
    .signup-form {
        max-width: 100%;
        padding: 10px;
    }
}