* {
    font-family: 'Roboto', sans-serif;
}

.resultItem {
    border-radius: 20px;
    border-width: 2px;
    color: rgb(209, 207, 207);
    background: -webkit-linear-gradient(45deg, #fafafa, #f2f2f2);
    width: 500px;
    padding: 20px;
}