* {
  font-family: 'Roboto', sans-serif;
}

.welcome-view {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

.main-card {
  border-radius: 20px;
  background: -webkit-linear-gradient(45deg, #fafafa, #f3f3f3);
  padding: 15px;
  height: 100%;
  width: 40%;
}