.welcome-view {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  color: #050505;
  margin-bottom: 70px;
}

p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #4f4d4f;
}

.main-card {
  border-radius: 20px;
  background: -webkit-linear-gradient(45deg, #fafafa, #f3f3f3);
  padding: 15px;
  height: 100%;
  width: 40%;
}