* {
  font-family: 'Roboto', sans-serif;
}

.welcome-container {
  height: 600px;
}

.welcome-view {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

.welcome-title {
  margin: 70px;
  color: #2b2a2a;
  background: linear-gradient(to bottom, #303030, #941f90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.main-card {
  background: linear-gradient(to bottom, #d8d7d7,#c0c0c0);
  border-radius: 20px;
  padding: 15px;
  height: 100%;
  width: 23%;
}